.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header {
    width: 100%;
    height: 6.4rem;
    background: var(--black);
    color: var(--white);
    transition: 0.5s;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header h1 {
    font-size: 3rem;
}

header a {
    border: 2px solid var(--main);
    border-radius: 0.8rem;
    padding: 2px 8px;
}

header span {
    color: var(--main);
}

.toggle-theme {
    width: 3rem;
    height: 3rem;
    background: var(--white);
    margin: 3px 20px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 2rem;
    border-radius: 50%;
}

header .search input {
    width: 24rem;
    height: 3.6rem;
    outline: none;
    border: none;
    border-radius: 0.8rem 0 0 0.8rem;
    padding: 0 1.2rem;
}

header .search input:focus {
    border: 2px solid var(--main);
    border-right: none;
}

.search {
    display: flex;
    margin-right: 5rem;
    align-items: center;
}

.search-icon {
    background: var(--main);
    width: 4rem;
    height: 3.6rem;
    border-radius: 0 0.8rem 0.8rem 0;
    cursor: pointer;
    font-size: 1.8rem;
    text-align: center;
    line-height: 3.6rem;
}

.bar-icon{
    font-size: 2.6rem;
    margin-left: 2rem;
    display: none;
}

/* Responsive */

@media only screen and (max-width: 75rem) {
    header h1 {
        margin-left: 5rem;
    }
    .toggle-theme {
        height: 3.4rem;
        width: 3.4rem;
    }
}

@media only screen and (max-width: 62rem) {
    header h1 {
        margin-left: 3rem;
    }
    .search{
        margin-right: 2rem;
    }
    .bar-icon{
        display: block;
    }
    header .search input{
        width: 22rem;
    }
}

@media only screen and (max-width: 36rem) {
    .content{
        justify-content: flex-end;
    }
    header .search input{
        width: max-content;
    }
    header h1 {
        display: none;
    }
}

@media only screen and (max-width: 20rem) {
    header .search input{
        width: 15rem;
    }
}